body {
    font-family: "Comic Sans MS", cursive;
    background-color: pink;
}

.container {
    display: inline-table;
    padding: 2%;
    border: 1px solid black;
    background-color: gold;
}

.container ul {
    margin: 0;
    padding: 10px;
}

.container h2 {
    margin: 0;
}

header h1 {
    font-variant: small-caps;
    font-size: 38;
    display: inline;
}

header sub {
    font-style: italic;
    margin-left: 10px;
    font-size: medium;
    color: deeppink;
}

header {
    margin-bottom: 10px;
    width: 100%;
    background-color: greenyellow;
}

input {
    background-color: lightblue;
    color: fuchsia;
}

.success {
    color: green;
    background-color: aliceblue;
}

.failure {
    color: red;
    background-color: aliceblue;
}

::selection {
    background-color: bisque;
}

div.h-banner {
    position: fixed;
    bottom: 15px;
    right: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

div.h-banner>img {
    object-fit: fill;
    height: 100%;
    width: 30%;
    margin: 10px;
    border: 2px dotted grey;
}

div.v-banner {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 200px;
    height: 400px;
    background-color: #f2f2f2;
}

div.h-banner>img {
    object-fit: fill;
    height: 100%;
    width: 30%;
    margin: 10px;
    border: 2px dotted grey;
}